body {
    font-family: "Arial";
    color: #f0f6fc;
    background-color: #161b22;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-editor {
    width: 30em;
    flex-direction: column;
    height: auto;
}

.static-input, .dynamic-input {
    color: #1d1d1d;
    border: .1em solid #CCCCCC;
    border-radius: .25em;
    background-color: #CCCCCC;
    resize: vertical;
    overflow: scroll;
}
.dynamic-input {
    background-color: #FFFFFF;
}

input[type=submit] {
    border-radius: .3em;
    border-color: #abc3e2;
    background-color: #444f5d;
    color: #f0f6fc;
}
input[type=submit]:hover {
    background-color: #4c5a6c;
}
input[type=submit]:active {
    background-color: #303945;
}

#github-commit-form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    height: fit-content;
}
.input-box {
    display: flex;
    flex-direction: column;
}
#file-content {
    min-height: 7em;
    max-height: 14em;
}
#commit-description {
    min-height: 5em;
    max-height: 10em;
}
.form-bottom {
    margin-top:.5em;
}