body {
    font-family: "Arial";
    color: #f0f6fc;
    background-color: #161b22;
    font-size: 24;
    height: 400px;
    width: 400px;
    text-align: center;
}
h1{
    font-size: 30;
}
button{
    color: #f0f6fc;
    background-color: #444f5d;
    border-width: 2px;
    border-radius: .4rem;
    border-color: #abc3e2;
    font-size: 24;
    padding: .5rem .75rem .5rem .75rem;
}
button:hover {
    background-color: #4c5a6c;
}
button:active {
    background-color: #303945;
}

img{
    height: 20;
    border-radius: 5px;
}
a{
    font-family: "Arial";
    color: #90b3d5;
    text-decoration: none;
}