body{
    height: 400px;
    width: 400px;
    font-size: 24;
    text-align: center;
    background-color: rgb(235, 235, 235)
}
h1{
    font-size: 30;
}
button{
    color: black;
    background-color: lightgray;
    border-radius: 5%;
    font-size: 24;
}
#status {
    color: green;
    text-align: center;
  }